.tip {
  margin-left: 10px;
}

.switch {
  margin: 0 5px;
}

.focus {
  color: #1890ff;
}

.tableBtn {
  margin: 0 0 0 5px;
  padding: 0;
}

.footText {
  color: #999;
  font-size: 12px;
}

.editForm {
  :global {
    .ant-form-item {
      margin-bottom: 5px;
    }
  }
}

.channel {
  margin-left: 10px;
}

.switchBtn {
  margin: 0 5px;
}

// .active {
//   color: #1890FF;
// }

.btnGroup {
  margin-top: 20px;
  > button {
    margin-left: 5px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.tableContainer {
  margin-top: 20px;
  :global {
    .ant-table-thead > tr > th {
      padding: 16px 8px;
      text-align: center;
      vertical-align: middle;
    }
    .ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-filters {
      padding: 8px !important;
    }
    .ant-table-row > td {
      padding: 8px 4px !important;
      text-align: center;
      vertical-align: middle;
      word-break: break-word;
    }
  }
}
